<form action="/video_stores/<%= @video_store.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit video store</p>
  <input type='text' name='video_store[name]' value="<%= @video_store.name %>"><br/>
  <textarea name='video_store[rank]'><%= @video_store.rank %></textarea><br/>
  <textarea type='text' name='video_store[flagship_store]'><%= @video_store.flagship_store %></textarea><br/>
  <input type='submit'/>
</form>
