<% @movies.each do |movie| %>
  <h3><%= movie.name %></h3>
  <h3><%= movie.available %></h3>
  <h3><%= movie.year_filmed %></h3>
  <a href="/movies/<%= movie.id %>/edit" > edit movie</a>
  <a data-method="delete" href="/movies/<%=movie.id%>">Delete</a>
<% end %>
