<% if @player_weight.nil? %>
  <% @game_players.each do |player| %>
    <h3><%= player.position %></h3>
    <h3><%= player.weight %></h3>
    <h3><%= player.injured %></h3>
    <a href="/players/<%= player.id %>/edit" > edit player</a>
  <% end %>
<% else %>
  <% @player_weight.each do |player| %>
    <h3><%= player.position %></h3>
    <h3><%= player.weight %></h3>
    <h3><%= player.injured %></h3>
    <a href="/players/<%= player.id %>/edit" > edit player</a>
  <% end %>
<% end %>

<a href="/games/<%=@game.id%>/players/new" >new player</a>

<%= form_with url: "/games/#{@game.id}/players/new_view", method: :post, local: true do |form| %>
  <%= form.label :query, "Player weight:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<a href="/games/<%=@game.id%>/players/order" >alphabetize players</a>
