<div>
<h1><%= @game.stadium_name %></h1>

<p><%= @game.attendance %></p>
<p><%= @game.televised %></p>
<p><%= @game.created_at %></p>
<p><%= @game.updated_at %></p>
</div>

<a href="/parents/<%= @game.id %>/edit" > update game </a>
<br>
<form action="/parents/<%= @game.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>


<div>

<h1><%= @video_store.name %></h1>

<p><%= @video_store.rank %></p>
<p><%= @video_store.flagship_store %></p>
<p><%= @video_store.created_at %></p>
<p><%= @video_store.updated_at %></p>
</div>
