<div>
<h1><%= @game.stadium_name %></h1>

<p><%= @game.attendance %></p>
<p><%= @game.televised %></p>
<p><%= @game.created_at %></p>
<p><%= @game.updated_at %></p>
</div>

<div>

<h1><%= @video_store.name %></h1>

<p><%= @video_store.rank %></p>
<p><%= @video_store.flagship_store %></p>
<p><%= @video_store.created_at %></p>
<p><%= @video_store.updated_at %></p>
</div>
