<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <a href="/games" >games homepage</a>
    <a href="/video_stores" >video stores homepage</a>
    <a href="/players" >players homepage</a>
    <a href="/movies" >movies homepage</a>

    <%= yield %>
  </body>
</html>
